# Vercel Production / Preview environment variables
CONTACT_TO_EMAIL=info@medixus.co.jp
CONTACT_FROM_EMAIL=info@medixus.co.jp
SES_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
